@{
    ViewBag.Title = "Login";
}

<div class="container">
    <h1 id="greetingMessage">Dobrodošli na BatNet!</h1>
    <div id="podaci">
        @using (Html.BeginForm("Profil", "Home", FormMethod.Post))
        {
            <input name="username" placeholder="Username" type="text" id="username" class="form-control input-lg" /> <br />
            <input name="password" placeholder="Password" type="password" id="password" class="form-control input-lg" /> <br />
            <input type="submit" id="login" class="btn btn-info" value="Prijavi se" />
        }
    </div>
</div>

<script>
    function redirect() {
        window.location = "http://localhost:52237/Home/Profil";
        return false;
    }
</script>



