@{
    ViewBag.Title = "Dobrodošli Greenie";
}

<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">BatNet</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav col-sm-3 col-md-3">
                <li class="active"><a href="#">Profil</a></li>
                <li><a href="#about">Projekti</a></li>
                <!--<li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Nav header</li>
                        <li><a href="#">Separated link</a></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>-->
            </ul>

            <div class="col-sm-4 col-md-4">
                <form class="navbar-form" role="search">
                    <div class="input-group" style="height:3.5vh">
                        <input type="text" class="form-control" placeholder="Pretraži" name="srch-term" id="srch-term" style="height:100%;"/>
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit" style="height:100%;"><i class="glyphicon glyphicon-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container-fluid">
    <div class="row" style="padding-top:5vh;">
        <div class="col-md-6">
            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-6">
                    <img class="img-responsive img-rounded" id="profilna" src="http://cdn-img.instyle.com/sites/default/files/styles/684xflex/public/images/2010/gallery/110910-Hermione-2-400_0.jpg?itok=eBzDXJZi" alt="W3Schools.com" />
                </div>
                <div class="col-lg-3"></div>
            </div>
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8" style="text-align:center">
                    <div class="panel" style="margin-top:2vh">
                        <p>Part-time coder</p>
                        <p>Loves to learn new technologies every 5 minutes</p>
                    </div>
                </div>
                <div class="col-lg-2"></div>
            </div>
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <button class="btn btn-left btn-profile">Moji kodovi</button>
                    <button class="btn btn-right btn-profile">Dodaj projekat</button>
                </div>
                <div class="col-lg-2"></div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-lg-1"></div>
            <div class="col-lg-10 panel" style="min-height:40vh; max-height:40vh;">
                <div class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-10">
                        <div style="margin-top:5vh;">
                            <p>Ime: Hana</p>
                            <p>Prezime: Bezdrob</p>
                            <p>E-mail: hbezdrob1@etf.unsa.ba</p>
                            <p>Username: Greenie</p>
                            <p>Datum rođenja: 28.7.1997.</p>
                            <p>Ostvareni bodovi: 0</p>
                        </div>
                    </div>
                    <div class="col-lg-1"></div>
                </div>
                <div class="row" style="margin-top:5vh">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-10">
                        <div>
                            <button class="btn btn-left btn-profile">Dodaj CV</button>
                            <button class="btn btn-right btn-profile">Uredi</button>
                        </div>
                    </div>
                    <div class="col-lg-1"></div>
                </div>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
    <div class="row" style="padding-bottom:5vh;">
        <div class="col-md-6">
            
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-10">
                    <div class="panel scrollable-panel">
                        <div class="row">
                            <div class="col-lg-1"></div>
                            <div class="col-lg-10">
                                <h4>Tehnologije</h4>
                            </div>
                            <div class="col-lg-1"></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-1"></div>
                            <div class="col-lg-5">
                                <p>C#</p>
                            </div>
                            <div class="col-lg-5">
                                <p>Sve ostalo</p>
                            </div>
                            <div class="col-lg-1"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-1"></div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-lg-1"></div>
            <div class="col-lg-10 panel scrollable-panel">
                <div class="projekat">
                    <div class="row">
                        <div class="col-lg-6">
                            <div>
                                <h4>Dummy projekat 1</h4>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div>
                                <h6>Završio: 20.3.2018.</h6>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <p>Osnivač: John Doe</p>
                        </div>
                        <div class="col-lg-6"></div>
                    </div>
                </div>

                <div class="projekat">
                    <div class="row">
                        <div class="col-lg-6">
                            <div>
                                <h4>Dummy projekat 2</h4>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div>
                                <h6>Završio: 20.3.2018.</h6>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <p>Osnivač: John Doe</p>
                        </div>
                        <div class="col-lg-6"></div>
                    </div>
                </div>

                <div class="projekat">
                    <div class="row">
                        <div class="col-lg-6">
                            <div>
                                <h4>Dummy projekat 3</h4>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div>
                                <h6>Završio: 20.3.2018.</h6>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <p>Osnivač: John Doe</p>
                        </div>
                        <div class="col-lg-6"></div>
                    </div>
                </div>

                <div class="projekat">
                    <div class="row">
                        <div class="col-lg-6">
                            <div>
                                <h4>Dummy projekat 4</h4>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div>
                                <h6>Završio: 20.3.2018.</h6>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <p>Osnivač: John Doe</p>
                        </div>
                        <div class="col-lg-6"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
</div>