body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url('Images/pozadina.jpg');
    background-size: cover;
    background-repeat:no-repeat;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: Verdana;
    color: #fff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.jumbotron {
    background-color:transparent;
}

div#podaci {
    width:50%;
    height:50%;
    margin:10% 25% 25% 25%;
}

#username,
#password,
#login {
    width:50%;
    margin:0% 25% 0% 25%;
    vertical-align:central;
}

#greetingMessage {
    color: white;
    text-shadow: 3px 3px 5px #000000;
    width:auto;
    text-align:center;
    margin-top:20%;
}

#search {
    display:inline;
    height: 80%;
    margin:1% 0% 0% 15%;
}

#searchbutton {
    display:inline;
    position:absolute;
    margin-top:0.50%;
}

nav {
    width:100%;
}

.panel {
    background-color: rgba(0,0,0,0.5);
    border-radius: 1vh;
}

.scrollable-panel {
    min-height: 30vh;
    max-height: 30vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.projekat {
    border-radius: 2vh;
    color: #444;
    border: 1px solid #CCC;
    background: #888;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    cursor: pointer;
    margin: 1vh 0.5vh 1vh 0.5vh;
    border: 1px solid black;
    text-align: center;
    vertical-align: central;
}

.btn-profile {
    min-width:13vh;
    min-height:5vh;
    text-align:center;
    vertical-align:central;
}

.btn-left {
    display: inline;
    float: left;
    margin: 2vh;
}

.btn-right {
    display: inline;
    float: right;
    margin: 2vh;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.loginKontrole {
    width: 30vh !important;

}